<nav class="navbar navbar-expand-lg navbar-fixed-top" id="navbar">
  <div class="container-fluid" >
    <img src="/images/logo-no-background.png" alt="logo" style="width: 13rem; height: 4rem; margin-right: 2rem;" class="rounded-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav  me-auto mb-2   mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-head  active " aria-current="page" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link nav-head  active " aria-current="page" href="/about">About</a>
        </li>
        <li>
          <a class="nav-link nav-head active " aria-current="page" href="/contact">Contact</a>
        </li>
      </ul>
      <% if (typeof username !== 'undefined') { %>
        <% if(currentPath==='/home' || currentPath ==="/search"){ %>
          <div style="margin-right: 18rem; display: flex;">
            <input type="text" class="form-control searchInp" placeholder="Search" aria-label="Search" aria-describedby="searchButton" id="searchInput">
            <button class="btn search__btn" id="searchButton">Search</button>
          </div>
        <% } %>
          
  
        <div >
          <a class="cart-logo" href="/addtocart">            
            <img id="cartImage" src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_cart-eed150.svg" alt="Cart" class="" width="35" height="35">
          </a>
          
            </div>
         <% }%>
         <div class="dropdown">
          <button class="btn navbtn dropdown-toggle capitalize" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <% if (typeof username !== 'undefined') { %>
                  <%= username %>
              <% } else { %>
                  Account
              <% } %>      
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/contact">Contact</a></li>
              
              <% if (typeof username !== 'undefined') { %>
                  <li><a class="dropdown-item" href="/userprofile">Profile</a></li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
              <% } else { %>
                  <li><a class="dropdown-item" href="/login">Login</a></li>
              <% } %>
          </ul>
      </div>
      
     
    </div>
  </div>
</nav>
