<%-include("./partials/header")  %>


<form action="/forgotpassword" method="post">
    <% if (errorMessage) { %>
        <p class="alert alert-danger"><%= errorMessage %></p>
           <% } %>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card" style="max-width: 300px;">
            <div class="card-header h5 text-white bg-secondary">Password Reset</div>
            <div class="card-body px-3">
                <p class="card-text ">
                    Enter your email address, and we'll send you an email with instructions to reset your password.
                </p>
                <div class="form-outline">
                    <label class="form-label" for="typeEmail">Email input</label>
                    <input type="email" id="typeEmail" name="email" class="form-control my-3" />
                </div>
                <button type="submit" class="btn btn-success w-100">Reset password</button>
           
            </div>
        </div>
    </div>
</form>



<%-include("./partials/end")  %> 
