* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: twitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
#navbar{
    /* border-bottom: 0.3px solid rgb(239, 232, 232); */
    /* border-right: 0.3px solid rgb(239, 232, 232); */
    /* background-color: rgba(102, 219, 219,.2); */
    background: radial-gradient(circle at 10% 20%, rgb(220, 217, 249,) 0%, rgb(172, 224, 217) 89.8%);
   
    backdrop-filter: blur(40px);
    padding: 1.5rem; 
    position: sticky;
    top: 0;
    z-index: 10; 
}
#navbaradmin{
    /* border-bottom: 0.3px solid rgb(239, 232, 232); */
    /* border-right: 0.3px solid rgb(239, 232, 232); */
    /* background-color: rgba(102, 219, 219,.2); */
    background-color:rgba(255, 255, 255,.5);
    /* background: transparent; */
    /* backdrop-filter: blur(35px); */
    box-shadow: #7caf4c;
    padding: 1.3rem; 
    position: sticky;
    top: 0;
    z-index: 10; 
    
}

.searchInp{
    width: 23rem; 
    background: transparent;
    border-color:rgba(0, 0, 0,.3);
    height: 2.5rem;
    border-radius: 0;
}
.searchInp:focus{
    background: transparent;    
}
.search__btn{
    border-radius: 0;
    padding: 8px 22px;
    background-color: rgb(167, 223, 55);
    transition : all 0.2s ease; 
}

.search__btn:hover{
    border-radius: 0;
    background-color: rgb(143, 211, 6);
    color: #fff;
}

.nav-head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    transition: 0.3s ease-in;
    border-radius: .2rem;
    
}
.nav-head:hover{
 border-bottom: 1px solid rgb(191, 255, 94);  
}
/* .nav-head:hover {
    margin-top: 0.5rem;
    background-color: rgb(195, 255, 104);
    height: 0.1rem;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  } */
  
.nav-head1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

/* Add the following styles for the links in the navbar */
.navbar-nav a.nav-link {
    margin-right: 10px; /* Add margin between buttons */
}

/* Add hover effect for links */
.navbar-nav a.nav-link:hover {
    background-color: rgb(165, 225, 23); /* Change background color on hover */
    border-radius: .5rem;
   
}
.navbar-nav a.nav-link {
 
    border-radius: .5rem;
   
}



.quantity-selector {
   width: 75px;
  }
.capitalize{
  text-transform: capitalize;
}
.admin-head{
  color: blue;
}

/* login and signup page images */
.login-img{
    border-radius: 1rem;
}
/* login and signup page images */


/* errors */

.errorP{
  font-weight: bold;
  font-size: large;
  color: #ff3232;
  display: flex;
  justify-content: center;
}
 
.inperr{
    color: #ff0000;
   
   

}
/*.inperrr{
    color: rgb(255, 166, 134);
    
    border-radius: .5rem;
    font-family: monospace;
    margin-left: 9rem;
} */
/* errors */

.category{
  margin-top: 1rem;
  width: 50%;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

 .add-product{
  margin-right: 2rem;
 }

/* product mangemenent starts */
.product-management{
 
        background-color: #c3eb9a;
        display: flex;
        padding: .5rem;
        justify-content: center;
        align-items: center;
        /* font-family: monospace; */
        margin-bottom: 1rem;
  
}
/* product mangemenr ends */

 /* Modify the specificity to ensure the style is applied */

  
  .signupstyle{
     background: transparent;
     backdrop-filter: blur(20px);
  
     border-radius: 1rem;  
     color: #000000;
    
  }
  .signupstyle:focus{
     background: transparent;
     backdrop-filter: blur(20px);
     color: #000000;
  }
  

  .signuplabel{
    color: #000000; 
  }
  .signuplabel::placeholder{
    color: #000000; 
    background-color: transparent;
  }

  .signupcard{   
    background: linear-gradient(109.6deg, rgb(251, 250, 225) 11.2%, rgb(206, 240, 185) 47.5%, rgb(100, 163, 111) 100.2%);
    /* background: linear-gradient(109.6deg, rgb(17, 151, 147) 11.2%, rgb(154, 214, 212) 55.4%, rgb(255, 233, 171) 100.2%);   */
    border-radius: 1rem;
}




 /* .signup__sec{ */
  /* background-color: hsla(205, 8%, 52%, 0.374); */
  /* display: block; */
  /* height: 100vh; */
  
  /* background: radial-gradient(circle at 10% 20%, rgb(43, 199, 188) 0%, rgb(219, 249, 203) 72.9%); */
 /* } */


 .sidebar{
border-right: 1px solid rgba(163, 163, 201,.3);
 }

 .nav-item a{
    border-radius: 1rem;
 }

 .nav-item a:hover{
    background-color: black;
    color: #fff;
    border-radius: 1rem;
 }


.add-product-head{
  color:#fff;
  background-color: black;
}
.modal-addproduct{
  display: flex;
  justify-content: end;

}
.modal-addproduct button{
  margin-top: 1rem;
  margin-right: 1.5rem;
  color: #fff;
  background-color: black;
} 
.modal-addproduct button:hover{
  background-color: greenyellow;
} 
.redirect-login{
    display: flex;
    justify-content: center;
}
.otp-img{
    border-radius: 5rem;   
}
.otperrpop a{
    text-decoration: none;
}
.otperr{
    color: #ffffff;
    background-color: yellowgreen;
}
.navbtn{
    background-color: rgb(155, 215, 66);
}

/* product details */

img{
    width: 100%;
    display: block;
}
.main-wrapper{
    /* min-height: 100vh; */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-product-details{
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
/* .product-div-left{
    padding: 20px;
} */
.product-div-right{
    padding: 20px;
}
.img-container img{ 
    object-fit: contain;                                                   ;
}
.hover-container{
     display: flex; 
     flex-wrap: wrap; 
     align-items: center; 

    margin-top: 32px;
}
.hover-container div{
    border: 2px solid rgba(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(255, 145, 163)!important;
}
.hover-container div:hover{
    border-color: rgb(255, 145, 163);
}
.hover-container div img{
    width: 50px;
    cursor: pointer;
}
.product-div-right span{
    display: block;
}
.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.product-rating{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.product-rating span{
    margin-right: 6px;
}
.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.btn-groups{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 0;
    border-radius: .6rem;
    padding: 10px;
}
/* .btn-groups button .fas{
    margin-right: 8px;
} */
.add-cart-btn{   
    background-color:yellowgreen;
    margin-right: .7rem;
}
.add-cart-btn:hover{
    background-color: rgb(149, 202, 69);
    color: rgb(0, 0, 0)
}
.buy-now-btn{
    background-color: #000;
    
}
.buy-now-btn:hover{
    background-color:rgb(149, 202, 69);
    color: #000;
}

.product-spec{
    background:transparent;
    backdrop-filter: blur(40px);
    color: #000;
    border-radius: 10px;
}

@media screen and (max-width: 992px){
    .product-div{
        grid-template-columns: 100%;
    }
    .product-div-right{
        text-align: center;
    }
    .product-rating{
        justify-content: center;
    }
    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px){
    .btn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}

 /* home page   */

.categoryfilter{
    text-decoration: none;   
    color: #000;
    
}

.categoryfilter:hover{
    background-color: #000000;
    color: #ffffff;
    border-radius: .3rem;
    padding: .5rem;
    
}


/* .secondary-nav{
    background-color: #000;
    color: #fff;
} */





 /* home page    */

/* product details */
.addtocart{
    background-color: #ffffff;
    color:#000;
    border: 1px solid black;
}

.addtocart a{
   color: #fff;
 text-decoration: none;
}
.addtocart a:hover{
   color: #000000;
 text-decoration: none;
 
}
.addtocart:hover{
    border: 1px solid greenyellow;
    background-color: rgb(163, 223, 99);
    color: #000; 
}
.cart-logo{
    display: flex;
    align-items: center;
    margin-right: 1rem;  
}
.buynow{
    background-color: yellowgreen;
    color: #fff;
}
.buynow:hover{
 border: 1px solid orange;
}
.sub-img{
    width: 6rem;
    height: 6rem;
}
.sub-img img{
    width: 4rem
}
.main__img{
  
    width: 261px;
    height: 391px;
}

/* add to cart page */
.cart-products-card{
    
    background: linear-gradient(109.6deg, rgb(251, 250, 225) 11.2%, rgb(206, 240, 185) 47.5%, rgb(100, 163, 111) 100.2%);
}
.cart-item-display{
 background-color: #000;
 color: #fff;
}
.cart-box{
    border: 0;
}
.cart-summary{
    border: 0;
}
.checkoutbtn{
    background-color: yellowgreen;

}
.checkoutbtn a{
    color: #fff;

}
.checkoutbtn:hover{
   background-color: rgb(144, 215, 116);
}
.cart-item-summary{
 background-color:rgb(185, 218, 121);
 color: #000;
}
.removebtn-cart{
    display: flex;
    justify-content: end;
    margin-top: 4rem;
}


/* #qerrormsg {
    height: 2rem;
    border: 1px solid red; 
    color: #3582ee;
    font-size: 4rem;
  } */
  



/* add to cart page */




/* card alignments */
.imgdiv{
    width:20rem ;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.product-images{
    display: flex;
    justify-content: space-around
}
.card-img-top{
    width: 14rem;
    height: 14rem;
    /* object-fit: contain; */
    border-radius: .5rem;

   
}
.card-div-product{
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
}
/* card alignments */
/* admin sidebar */
.nav-admin-sidebar li a{
    color: black;
    padding: 1.5rem;
}
/* admin sidebar */

#dropdownMenuButton1{
    background-color: yellowgreen;
}

.addcategorybtn{
    background-color: #000;
    color: #fff;
}



/* about page */

.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
  }

  .bg-grey {
    background-color: #f6f6f6;
  }


  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
/* about page */
/* admin login */
.admin-img{
    margin-top: 3rem;
    margin-left: 2rem;
    border-radius: 3rem;
    width:80%
}

.signloginbtn{
    background-color: rgb(173, 233, 53);
}
.signloginbtn:hover{
    background-color: rgb(143, 214, 0);
    color: rgb(60, 157, 216);
}
/* admin login */

/* usermanagement */
.usermanage-head{
    background-color: #c3eb9a;
    display: flex;
    padding: .5rem;
    justify-content: space-around;
    align-items: center;
    /* font-family: monospace; */
    margin-bottom: 1rem;
}

.usermanage-search{
    width: 30rem;
}
.usermanage-search input{
    background: transparent;
    border: 1px solid rgb(65, 66, 63);
    border-radius: 1rem;
    width: 18rem;
    height: 2.5rem;
    text-align: center;
    margin-top: .4rem;
    
}
.usermanage-search input::placeholder{
    text-align: center;
}

.usermanage-search button{
    background-color: rgb(108, 212, 212);
    border-radius: 3rem;
    color: #fff;
    width: 5rem;
    height: 2.4rem;
}
.usermanage-search button:hover{
    background-color: rgb(108, 212, 212);
    backdrop-filter: blur(10px);
    border: 2px solid greenyellow;
    border-radius: 1rem;
}

.user-action-button{
    background-color: rgb(56, 182, 224);
    color: #fff;
    width: 4rem;
    border: 0;
    height: 1.6rem;
    border-radius: 1rem;

}
/* usermanagement */

/* category err */
.categoryerr{
    display: flex;
    justify-content: center;
   color: #000;
}

.category-management{
    
        background-color: #c3eb9a;
        display: flex;
        padding: .5rem;
        justify-content: center;
        align-items: center;
        /* font-family: monospace; */
        margin-bottom: 1rem;
 
}
/* category err */

/* footer */
.footerstyle{
    background-color: rgb(0, 0, 0);
    padding: 1rem;  
    position: sticky;
    top: 100%
}
.footerstyle p{
    color: #fff;
}
.footerstyle ul li{
    color: #fff;
    
}
/* footer */



/* userprofile */

.userprofile-card{
    border: 2px solid rgb(164, 210, 70);
 
    padding: 1rem;
    background-color:#fff;
}

.addaddressbtn{
    background-color: rgb(205, 238, 144);
    color: #000000;
}
.addaddressbtn:hover{
   background-color: #c3eb9a;
    color: #000;
    border: 1px solid darkgreen;
}
.add-address-btn{
    display: flex;
    justify-content: end;
    margin: .5rem;
}
/* userprofile */

/* checkout */
#checkoutcard{

    display: flex;
        justify-content: space-between;
}



#paymentMethods {
    display: flex;
  }
  
  .paymentMethod {
    margin-right: 20px;
   
}

.paymentMethod label {
    border: 2px solid #ccc;
    padding: 10px;
    display: block;
    cursor: pointer;
  }
  
  .paymentMethod input[type="radio"]:checked + label {
    background-color: #7caf4c;
    color: #fff;

  
  }
  


/* checkout */


/* order list starts */

    

.cell-1 {
  border-collapse: separate;
  border-spacing: 0 4em;
  background: #fff;
  border-bottom: 5px solid transparent;
background-color: gold;
  background-clip: padding-box;
}

thead {
  background: #dddcdc;
}

.toggle-btn {
  width: 40px;
  height: 21px;
  background: grey;
  border-radius: 50px;
  padding: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s 0.1s ease-in-out;
  -moz-transition: all 0.3s 0.1s ease-in-out;
  -o-transition: all 0.3s 0.1s ease-in-out;
  transition: all 0.3s 0.1s ease-in-out;
}

.toggle-btn > .inner-circle {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s 0.1s ease-in-out;
  -moz-transition: all 0.3s 0.1s ease-in-out;
  -o-transition: all 0.3s 0.1s ease-in-out;
  transition: all 0.3s 0.1s ease-in-out;
}

.toggle-btn.active {
  background: blue !important;
}

.toggle-btn.active > .inner-circle {
  margin-left: 19px;
}

/* order list end */

/* order detail page starts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{background-color: #eeeeee;}.container{margin-top:50px;margin-bottom: 50px}.card{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 0.10rem}.track{position: relative;background-color: #ddd;height: 7px;display: -webkit-box;display: -ms-flexbox;display: flex;margin-bottom: 60px;margin-top: 50px}.track .step{-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;width: 25%;margin-top: -18px;text-align: center;position: relative}.track .step.active:before{background: #22deff}.track .step::before{height: 7px;position: absolute;content: "";width: 100%;left: 0;top: 18px}.track .step.active .icon{background: #3582ee;color: #fff}.track .icon{display: inline-block;width: 40px;height: 40px;line-height: 40px;position: relative;border-radius: 100%;background: #ddd}.track .step.active .text{font-weight: 400;color: #000}.track .text{display: block;margin-top: 7px}.itemside{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%}.itemside .aside{position: relative;-ms-flex-negative: 0;flex-shrink: 0}.img-sm{width: 80px;height: 80px;padding: 7px}ul.row, ul.row-sm{list-style: none;padding: 0}.itemside .info{padding-left: 15px;padding-right: 7px}.itemside .title{display: block;margin-bottom: 5px;color: #212529}p{margin-top: 0;margin-bottom: 1rem}.btn-warning{color: #ffffff;background-color:rgb(156, 212, 71);border-color: #ee5435;border-radius: 1px}.btn-warning:hover{color: #ffffff;background-color: #ff2b00;border-color: #ff2b00;border-radius: 1px}

.order-control-btn button {
    background-color: #7c8178;
    color: #fff;
    border: 0;
    width: 6rem;   
    border-radius: .1rem;
   
}
.order-control-btn button:hover {
    background-color: rgb(201, 44, 44);
    color: #fff;
    border: 0;
   
}

.orderdetailsend{
    display: flex;
    justify-content: space-between;
}

/* order detail page ends*/
/* adminorderlist  */
.orderlist td{
    border-bottom: 1px solid #ddd; 
    padding: 15px; 
}
.order-management{
    background-color: #c3eb9a;
    display: flex;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 1rem;
}
/* adminorderlist  */

/* order status color */

.delivered-color{
    color: greenyellow;
}

.pending-color{
    color: yellow;
}
.shipped-color{
    color: skyblue;
}
/* order status color */


/* crop images add product starts    */
   .cropper-container img {
    display: block;
    max-width: 100%;
  }
   

    .cropoutput{
   width:30%;
   
   }

   

   

   /* .product-container {
    display: inline-block;
    width: calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  .product-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
  }

  .cropper-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1000;
  }

  .cropper-container.active {
    display: block;
  }  */
/* crop images add product ends */

/* success page starts */
.success-redirect{
    background-color: rgb(152, 221, 83);
    border-radius: .5rem; 
    padding: 1rem;
}
.success-redirect:hover{
    background-color: skyblue;
    border-radius: .6rem;

}
.success-redirect a h5:hover{
    color: #fff;
}
.success-redirect a h5{
    color: #fff;
}
    /* success page ends */
























































 


































